.horizontalCenter {
    text-align:center;
}
.verticalCenter {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: inherit;
}

#bloco {
    padding-top: 10px;
    padding-bottom: 15px;
}

#header {
    background-color:#f37903;
    height: 150px;
}
#header .btn:hover .img-fluid {
    filter: invert(90%);
}
#searchInput {
    background-color:inherit;
}
#searchInput {
    color:#ffffff;
}
#searchInput::placeholder {
    color:#ffffff;
}
@media screen and (max-width: 600px) {
    .hide-sm {
        display: none;
    }
}
