extends layout

block content
  div(class="row title")
    div(class="col-11")
      h3='Esqueci minha senha'
    div(class="col-1")
  div(id="resetPasswordField" class="row")
    div(class="col-3")
    div(class="col-6")
      form(id="cadastro")
        div(class="form-group")
          label(for="Email")='Insira seu email para redefinir sua senha:'
          input(type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="Email" placeholder="Seu email" size="100" autosave required)
        button(type="submit" class="btn btn-primary")='Redefinir sua senha'