extends layout

block content
  div(class="row title")
    div(class="col-11")
      h3='Esqueci minha senha'
    div(class="col-1")
  div(id="resetPasswordField" class="row")
    div(class="col-3")
    div(class="col-6")
      form(method="post")
        div(class="form-group")
          label='Insira seu email para redefinir sua senha:'
          input(name="email" type="email" class="form-control" placeholder="Seu email" size="100" autosave required)
        if(posted)
          span(class="btn btn-success")='Você receberá um email para redefinir sua senha'
        else
          button(class="btn btn-primary")='Redefinir sua senha'